.product-card {
	box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: white;
	font-family: 'Rubik';
	font-style: normal;

	box-sizing: border-box;
	overflow: hidden;

	.card-content {
		position: relative;
		display: flex;
		width: 100%;
		& > * {
			padding: 30px;
		}

		.image-container {
			padding-right: 0;
			min-width: 200px;
			max-width: 200px;
			max-height: 150px;
			img {
				width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}
		.details-container {
			position: relative;
			width: 100%;
			min-height: 150px;
			.name {
				font-weight: 500;
				font-size: 20px;
				line-height: 120%;
				text-transform: capitalize;
				color: #000000;
			}
			.desc {
				font-size: 14px;
				line-height: 180%;
				color: #808080;
				opacity: 0.7;
				margin-top: 15px;
			}
			.price {
				font-family: poppins;
				font-weight: 600;
				font-size: 30px;
				line-height: 120%;
				color: #941b0c;
				position: absolute;
				bottom: 30px;
			}
		}
	}
	.buttons {
		width: 100%;
		background: linear-gradient(
				93.58deg,
				rgba(255, 255, 255, 0) -0.02%,
				rgba(255, 255, 255, 0.4) 99.98%
			),
			#f2f2f2;
		display: flex;
		flex: 1;
		border-radius: 0px 0px 0px 10px;
		.add-review,
		.add-to-cart {
			font-family: 'poppins';
			width: 100%;
			border: none;
			padding: 14px;
			font-weight: 500;
			font-size: 15px;
			color: #000000;
			cursor: pointer;
		}
		.add-to-cart {
			color: white;
			background-color: rgb(0, 12, 53);
		}
        .disabled-button {
            color: white;
            background-color: grey;
            cursor: not-allowed;
        }
	}

	@media screen and (max-width: 620px) {
		.card-content {
			.image-container {
				min-width: 100px;
				width: 100px;
			}
			.details-container {
				.name {
					font-size: 15px;
				}
			}
		}
		.buttons {
			flex-direction: column;
		}
	}
}